<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:fragment="baseHead(title)">
        <meta charset="utf-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title th:text="'STiger | ' + (${#strings.isEmpty(title)} ? 'Admin' : ${title})">STiger | Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" th:href="@{/favicon.ico}">
    </th:block>
    <th:block th:fragment="style">
        <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
        <link rel="stylesheet" th:href="@{/css/layuimini.css}" media="all">
        <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
        <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
        <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style id="layuimini-bg-color">
        </style>
    </th:block>
</head>
<body>

<th:block th:fragment="script-frame">
    <script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
    <script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/lay-config.js}" charset="utf-8"></script>
</th:block>
<th:block th:fragment="script-stiger">
    <input type="hidden" id="context-path" th:value="${#servletContext.contextPath}">
    <input type="hidden" id="multi-module"
           th:value="${#servletContext.getAttribute(T(com.snake19870227.stiger.admin.manager.common.StarTigerAdminManagerConstant.WebAttrKey).MULTI_MODULE)}">
    <script>
        $(function () {
            window.contextPath = $("#context-path").val();
            window.multiModule = ($("#multi-module").val() === "true");
        });
    </script>
    <script th:src="@{/js/http.js}" charset="utf-8"></script>
</th:block>
</body>
</html>