<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<head>
    <th:block th:replace="global::baseHead('登录')"/>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/login.css}" media="all">
</head>
<body>
<div class="layui-container">
    <div class="admin-login-background">
        <div class="layui-form login-form">
            <form class="layui-form" th:action="@{/login}" method="post">
                <div class="layui-form-item logo-title">
                    <h1>STiger Admin</h1>
                </div>
                <input type="hidden" id="message"
                       th:value="${#request.getAttribute(T(com.snake19870227.stiger.admin.common.StarTigerAdminConstant.WebAttrKey).LOGIN_MESSAGE)}"/>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-username" for="username"></label>
                    <input type="text" id="username" name="username" lay-verify="required" placeholder="用户名"
                           lay-reqText="用户名不能为空"
                           autocomplete="off" class="layui-input" value="root">
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-password" for="password"></label>
                    <input type="password" id="password" name="password" lay-verify="required" placeholder="密码"
                           lay-reqText="密码不能为空"
                           autocomplete="off" class="layui-input" value="888888">
                </div>
                <div class="layui-form-item">
                    <label class="layui-icon layui-icon-vercode" for="captcha"></label>
                    <input type="text" id="captcha" name="captcha" lay-verify="required" placeholder="图形验证码"
                           lay-reqText="验证码不能为空"
                           autocomplete="off" class="layui-input verification captcha">
                    <div class="captcha-img">
                        <img id="captchaPic" th:src="@{/captcha}" alt="点击刷新">
                    </div>
                </div>
                <!--<div class="layui-form-item">
                    <input type="checkbox" name="rememberMe" value="true" lay-skin="primary" title="记住密码">
                </div>-->
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn layui-btn-normal layui-btn-fluid"
                            lay-submit="" lay-filter="login">登&#12288;录</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/lib/jq-module/jquery.particleground.min.js}" charset="utf-8"></script>
<script th:src="@{/js/login.js}" charset="utf-8"></script>
</body>
</html>