<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <include resource="com/snake19870227/stiger/core/log/StarTigerLogBase.xml"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

<!--    <logger name="org.springframework.security" level="debug"/>-->

    <logger name="com.snake19870227.stiger" level="debug"/>

</configuration>