<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<head>
    <th:block th:replace="global::baseHead('出错了')"/>
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/error/404.css}" media="all">
</head>
<body>
<h1>500</h1>
<p>详细信息:&nbsp;<strong th:text="${errorMessage}"></strong>.</p>
<p th:if="${not #lists.isEmpty(errorDetailMessages)}">
    <th:block th:each="errorDetailMessage:${errorDetailMessages}">
        <span th:text="${errorDetailMessage}"></span><br/>
    </th:block>
</p>

<th:block th:replace="global::script-frame"/>
</body>
</html>