<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <include resource="com/snake19870227/stiger/core/log/StarTigerLogBase.xml"/>

    <springProfile name="dev">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>127.0.0.1:15055</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
    </springProfile>

    <springProfile name="docker">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>adminElasticLogstash19600:5055</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
    </springProfile>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_FILE_APPENDER"/>
        <appender-ref ref="ERROR_LOG_FILE_APPENDER"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <logger name="com.snake19870227.stiger" level="debug"/>

</configuration>