<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="global::style('未授权')"/>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">

    <th:block th:replace="global::ui-header"/>

    <th:block th:replace="global::ui-user-sidebar(false)"/>

    <div class="content-wrapper">

        <th:block th:replace="global::ui-content-header(false, '', false)"/>

        <section class="content">
            <div class="error-page">
                <h2 class="headline text-danger">403</h2>
                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-danger"></i> 抱歉! 您未被授权访问该地址.</h3>
                    <p>详细信息:&nbsp;<strong th:text="${#strings.isEmpty(errorMessage)}?${message}:${errorMessage}"></strong>.<br/>您可以联系管理员找解决途径.</p>
                    <p>现在您可以&nbsp;<a th:href="@{/main}">返回主页</a>&nbsp;或&nbsp;<a th:href="@{/logout}">切换账户</a>&nbsp;</p>
                </div>
            </div>
        </section>
    </div>

    <!--    <th:block th:replace="global::ui-footer"/>-->

</div>

<th:block th:replace="global::script-frame"/>
<th:block th:replace="global::script-stiger"/>
</body>
</html>