<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <include resource="com/snake19870227/stiger/core/log/StarTigerLogBase.xml"/>

    <springProfile name="dev | devdynamic">

        <springProperty scope="context" name="logstashLocation" source="stiger.admin.logstash.location"
                        defaultValue="localhost:15044"/>

        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${logstashLocation}</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOG_FILE_APPENDER"/>
            <appender-ref ref="ERROR_LOG_FILE_APPENDER"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>

    <springProfile name="docker | dockerdynamic">
        <root level="info">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOG_FILE_APPENDER"/>
            <appender-ref ref="ERROR_LOG_FILE_APPENDER"/>
        </root>
    </springProfile>

    <logger name="com.snake19870227.stiger" level="debug"/>

</configuration>